/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* definition de la police de caractères */

@font-face {
    font-family: "Raleway";
    src: url(raleway/Raleway-Black.ttf),
         url(raleway/Raleway-BlackItalic.ttf),
         url(raleway/Raleway-Bold.ttf),
         url(raleway/Raleway-BoldItalic.ttf),
         url(raleway/Raleway-ExtraBold.ttf),
         url(raleway/Raleway-ExtraBoldItalic.ttf),
         url(raleway/Raleway-ExtraLight.ttf),
         url(raleway/Raleway-ExtraLightItalic.ttf),
         url(raleway/Raleway-Italic.ttf),
         url(raleway/Raleway-Light.ttf),
         url(raleway/Raleway-LightItalic.ttf),
         url(raleway/Raleway-Medium.ttf),
         url(raleway/Raleway-MediumItalic.ttf),
         url(raleway/Raleway-Regular.ttf),
         url(raleway/Raleway-SemiBold.ttf),
         url(raleway/Raleway-SemiBoldItalic.ttf),
         url(raleway/Raleway-Thin.ttf),
         url(raleway/Raleway-ThinItalic.ttf),
}

/* definition regle css standard (pour pc) */

   /* efinition police de caractère body */ 

   body{
   font-family: "Raleway", sans-serif;
   margin: 0;
   }

   /* definitionstyle des liens */

   a{
      color: inherit;
      text-decoration: none;
   }

   header{
      display: flex;
      align-items: center;
      max-width: 1440px;
      margin: auto;
   }

   .headerImg{
      padding: 2em;
      height: 2.5em;
   }

   Nav{
      display: flex;
      align-items: center;
      padding: 2em;
      font-weight: 500;
      text-align: center;
      border-top: 3px transparent solid;
      border-bottom: 3px transparent solid;
   }

   nav a{
      display: flex;
      margin: 3em;
   }

   nav a:active{
      color: #0065fc;
   }

   nav a:hover{
      color: #0065fc;
   }

   .SignUp{
      color: #0065fc;
   }

   main{
      max-width: 1440px;
      margin: auto;
      padding: 2em;
      box-sizing: border-box;
   }

   #search h1{
      margin-bottom: 0.5em;
   }

   .searchForm{
      display: inline-flex;
      max-width: 100%;
      overflow: auto;
   }

   .fa-map-marker-alt{
      background-color: #f2f2f2;
      padding: 1em 1.25em;
      border-radius: 1em 0 0 1em;
   }

   input{
      border-top: #f2f2f2 1px solid;
      border-bottom: #f2f2f2 1px solid;
      padding: 0 1.5em;
      width: 140em;
      font-size: 1em;
      font-family: "Raleway", sans-serif;
   }

   button{
      background-color: #0065fc;
      color: #f2f2f2;
      border: none;
      border-radius: 0 1em 1em 0;
      padding: 0 1.5em;
      font-size: 1em;
   }

   #filter{
      display: flex;
      align-items: center;
      margin: 32px 0px 41px 0px;
   }

   .Filter{
      display: flex;
      flex-direction: row;
      position: relative;
      margin-left: 25px;
      flex-wrap: wrap;
   }

   #FilterIconMoney{
      display: flex;
      align-items: center;
      border: 2px solid #d9d9d9;
      border-radius: 2em;
      font-weight: bold;
      margin: 2em 0 2em 0;
      display: flex;
   }

   #FilterIconMoney:hover{
      color: #f3f8ff;
   }

   #FilterIconChild{
      display: flex;
      align-items: center;
      border: 2px solid #d9d9d9;
      border-radius: 2em;
      font-weight: bold;
      margin: 2em 0 2em 0;
   }



   #FilterIconHeart{
      display: flex;
      align-items: center;
      border: 2px solid #d9d9d9;
      border-radius: 2em;
      font-weight: bold;
      margin: 2em 0 2em 0;
   }


   #FilterIconDog{
      display: flex;
      align-items: center;
      border: 2px solid #d9d9d9;
      border-radius: 2em;
      font-weight: bold;
      margin: 2em 0 2em 0;
   }


   /* reglage couleur icons filtres */

   .fa-circle{
      color: #deebff;
   }

   .fa-money-bill-wave{
      color: #0065fc;
   }

   .fa-child{
      color: #0065fc;
   }

   .fa-heart{
      color: #0065fc;
   }

   .fa-dog{
      color: #0065fc;
   }
